@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400&display=swap');
* {
    box-sizing: border-box;
}
html {scroll-behavior: smooth;}
body {background-color: palegoldenrod;
font-family: sans-serif;
font-size: 14px;}
h1 {
    color: navy;
    text-align:center ;
    font-size:1.5em ;
    font-family: 'Noto Sans JP', sans-serif;
    text-decoration: underline;
}
h2 {
    color: navy;
    font-size: 1.5em;
    font-weight: bold;
}
h3 {color: black;
font-size: 1.5em;}
p {color: black;
font-size: 1em;}
#pret-vechi{text-decoration-line: line-through;
    color: steelblue;
text-decoration-color: red;
text-decoration-style: solid ;}
.pret {
    font-size: 1.5em;
    color: tomato;
    font-weight: bold;
}
img {
    display: block;
    margin: auto;
}
blockquote {
    font-size: 1.5em;
    font-style: italic;
    color: red;
    text-decoration-style: solid;
    text-decoration-line: underline;
    border-style: solid;
    border-color: navy;
    border-radius: 20px;
    padding:1em;
    margin: 1em auto;
    margin-top: 2em;
    width: 40%;
    background-color: mediumaquamarine;
    

}
ul {
    
    font-family: sans-serif;
    font-size: 1.5em;
    list-style-type: "☝";
    list-style-image: url();
}