body {background-color: dimgrey;}
h1 {
    color: darkgoldenrod;
    text-align:center ;
}
h2 {
    color: dodgerblue;
    text-align: center;
}
h3 {color: black;
text-align: center;}
p {color: black;
text-align: center;}