input {
    display: block;
    margin: 0.2em 0,7em 0em;
}
button {
    display: block;
    /* Schimbam stilul butonului */
    background-color: green;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(15,121,9,1) 0%, rgba(0,181,255,1) 100%);


    color: white;
    border-style: none;
    padding: 0.5em;
    border-radius: 7em;
    width: 7em;
    margin-top: 0.5em;
    
}
label{
    font-family: sans-serif;
    display: block;
}

table { 
    font-family: sans-serif;
}
textarea {
    display: block;
}
select {
    display: block;
    margin-bottom: 0.5em;
}