/* css reset */
*{
    box-sizing: content-box;
    margin: 0;
    padding: 0em;
}
body {
    font-family: sans-serif;
}
header {
    background-color:rgb(54,54,54);
    text-align: center;
    padding: 1em;

}
header li {
    display: inline;
    
}
a {
    color:rgb(200,200,200);
    text-decoration: none;
    margin-right: 1.5em;
}
article {
    background-color: rgb(210,210,210);
    text-align: center;
    padding-bottom: 3em;
}
h1 {
    font-family: monospace;
    text-align: center;
    padding: 1.5em;
}
img {
    height: 45vh;
}
article div {
    display: inline-block;
    vertical-align: middle;
}
article ul {
    list-style-type: none;
}
article li {
 padding: 2em;
}
input[type="button"] {
    background-color: orange;
    border-radius: 0.3em;
    border-style: none;
    padding: 0.3em 1em;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
}
footer {
    background-color: rgb(39,39,39);
    color: white;
    text-align: center;
    padding: 1em 0;
}
p {
    margin-bottom: 1em;
}
